In [1]:
# Importing Dependancies
import pandas as pd
import numpy as np

# character encoding module
import chardet

In [2]:
# String
a="This is the euro symbol: €"

type(a)

str

In [3]:
#Encoding String
a_after = a.encode("utf-8", errors="replace")

type(a_after)

bytes

In [4]:
a_after

b'This is the euro symbol: \xe2\x82\xac'

In [5]:
# Decode a_a_after
a_after.decode('utf-8')

'This is the euro symbol: €'

In [6]:
print(a_after.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 25: ordinal not in range(128)

In [7]:
a="This is the euro symbol: €"

# Try Different Encoding Method
a_after = a.encode("ascii", errors = "replace")


#Decode a_after
print(a_after.decode("ascii"))

This is the euro symbol: ?

In [8]:
# Reading Dataset
df = pd.read_csv("ks-projects-201801-utf8.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
#Checking Whicjh Encoding Is Required
with open("ks-projects-201801-utf8.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(300000))

# check what the character encoding might be
print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [10]:
df = pd.read_csv("ks-projects-201801-utf8.csv",encoding='utf-8')
df.head()

,Unnamed: 0,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
3,3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
4,4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN

In [11]:
# Saving CSV
df.to_csv("ks-projects_new-201801-utf8.csv")

### Practice Dataset PoliceKillingsUS

In [12]:
entry = b'\xa7A\xa6n'
print(entry)
print('data type:', type(entry))

b'\xa7A\xa6n'
data type: <class 'bytes'>

In [13]:
a=entry.decode('big5-tw')
print(a)

new_entry=a.encode()
print(new_entry)

你好
b'\xe4\xbd\xa0\xe5\xa5\xbd'

In [14]:
#reading Dataset
df=pd.read_csv("PoliceKillingsUS.csv")

In [15]:
with open("PoliceKillingsUS.csv",'rb') as rawdata:
    result=chardet.detect(rawdata.read(100000))
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

In [16]:
df=pd.read_csv('PoliceKillingsUS.csv',encoding='Windows-1252')
df.head()

,Unnamed: 0,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,0,3,Tim Elliot,02/01/15,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,1,4,Lewis Lee Lembke,02/01/15,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,2,5,John Paul Quintero,03/01/15,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,3,8,Matthew Hoffman,04/01/15,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,4,9,Michael Rodriguez,04/01/15,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [17]:
df.to_csv("PoliceKillingsUSnew.csv")